<footer class="p-6 pt-20 flex flex-col md:w-2/3 mx-auto">
    <span class="pt-10 font-light">Développé par <a class="underline" href="https://arthaudproust.fr">Arthaud Proust</a></span>
    <span class="font-light">&copy; 2020-{{year}} Tous droits réservés</span>
</footer>