<footer class="p-6 pt-20 flex flex-col md:w-2/3 mx-auto">
    <span class="font-semibold pb-4">Développé par <a class="underline" href="https://arthaudproust.fr">Arthaud Proust</a></span>
    <span class="font-thin">&copy; 2020-{{year}} Tous droits réservés</span>
    <span class="font-thin">Vous recherchez un stagiaire pour Juin 2022? <span class="font-semibold">contact@arthaud.dev<span></span>
</footer>