<header class="pt-10 px-5 md:w-2/3 mx-auto">
    <nav class="flex flex-row">
        <a href="/" class="text-xl px-3 py-2 rounded-lg hover:bg-gray-900 hover:text-white">Accueil</a>
    </nav>
</header>