<div class="image-actions {{moreClass}}">
    {{>imageAction action="edit"}}
    {{>imageAction action="download"}}
    {{>imageAction action="fullscreen"}}
    {{>imageAction action="delete"}}
</div>