<div class="menu controls">
    {{>menuAction action="open"}}
    <div class="menu-actions">
        {{>menuAction action="share"}}
        {{>menuAction action="add"}}
        {{>menuAction action="view-carousel" moreClass="change-view"}}
        {{>menuAction action="view-grid" moreClass="change-view"}}
        {{>menuAction action="delete"}}
    </div>
</div>