<div class="popup" id="{{ id }}Popup">
    <div class="h-screen w-screen bg-black bg-opacity-70 popup-outter"></div>
    <div class="popup-inner">
        <div class="popup-title text-center text-2xl">{{ title }}</div>
        <div class="popup-content text-center overflow-y-auto">
            {{> @partial-block }}
        </div>
    </div>
</div>