{{#> popup id="delete" title="Supprimer ce sketch?"}}
    <p class="m-4 text-xl font-medium leading-tight">
        Vous perdrez cette galerie photo de manière définitive.
    </p>
    <div class="flex flex-row flex-wrap items-center justify-center">
        <div class="popup-action-cancel m-1 text-xl cursor-pointer bg-gray-900 rounded-lg px-5 py-3 text-white">Non, je le garde</div>
        <div class="popup-action-confirm m-1 text-xl cursor-pointer bg-red-600 rounded-lg px-5 py-3 text-white" >Supprimer</div>
    </div>
{{/popup}}