{{#> popup id="edit" title="Modifier la photo"}}
    <p class="m-4 text-xl font-medium leading-tight">
        Envoyez l'image depuis un appareil, elle s'affichera sur les autres !
    </p>
    <input class="pt-4" id="editFileInput" type="file" accept=".jpg, .jpeg">
{{/popup}}