<div>
    <span>Sinon vous pouvez partager le code :</span>
    <span class="select-all font-bold">
        {{ sketch.code }}
    </span>
</div>
<div>
    <span>Ou l'url</span>
    <span class="select-all font-bold">
        {{ sketch.paths.shareUrl }}
    </span>
</div>  