<li class="photo-container" tabindex="-1" style="transform: translateX(calc({{n}} * 360px));">
    <div class="" style="width: 360px;">
            <div class="KL4Bh" style="">
                <img id="img-{{n}}" alt="Photo {{inc n}}" class="FFVAD" crossorigin="anonymous" decoding="auto" style="object-fit: contain; object-position:top" sizes="360px" src="{{ img.src }}">
            </div>
            <div class="_9AhH0"></div>
    </div>
</li>