<div class="cGcGK hero">
    <div style="flex-direction: column;">
    
        <h1 class="title">{{error.title}}</h1>
        <p class="desc">
            {{ error.desc}}
        </p>


        <div class="presentation">
            <a href="/" class="actionButton">Page principale</a>
        </div>
    </div>  
</div>