<div class="cGcGK">
    <div style="flex-direction: column;">
    
        <div>
            <h1>Insta Preview</h1>
        </div>

        <div class="outlinedBox">

        <form action="/create" method="POST">
            <input type="submit" value="Créer">
        </form>
        </div>  

        <div class="outlinedBox">

            <form action="/join" method="POST">
                <input name="code" id="code" autocomplete="off">
                <input type="submit" value="Rejoindre">
            </form>
        </div>
    </div>  
</div>