<main class="pt-10 px-6 min-h-screen flex flex-col md:w-2/3 mx-auto">
    <section class="py-10">
        <h1 class="title text-5xl md:text-7xl font-semibold py-4 leading-tight text-gray-900"><b>Preview</b><img style="display:inline; height: 1.7em; margin-left: 10px" src="/static/pic-x0.1.png"></h1>
        <h2 class="title text-4xl md:text-6xl font-semibold py-2 leading-tight text-gray-900">La version <kbd>2.0-beta</kbd> est sortie </h2>
        <span class="subtitle text-xl leading-tight py-4 text-gray-900 flex flex-col items-start">
            <span>Une galerie améliorée </span>
            <span>avec une interface plus intuitive</span>
            <span>et un travail d'optimisation.</span>
        </span>

        <span class="subtitle text-xl leading-tight py-4 text-gray-900 flex flex-col items-start">
            <span>Un bug ? Dites-moi tout sur <b>contact@arthaud.dev</b></span>
        </span>
    </section>
    
    {{>sketchJoinCreate}}
       

    <section class="py-10">
        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">C'est quoi un "brouillon"?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Un brouillon est une galerie photo que vous pouvez créer gratuitement. 
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Vous y ajoutez vos photos, les organisez, choisissez le mode d'affichage et partagez ensuite la galerie.
        </p>

        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">Pour quoi faire?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Pour visualiser un ensemble de photo sur différents appareils, comparer instantanément les rendus sur des écrans différents.
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Pour afficher un carousel que l'on postera sur Instagram, ou visualiser son futur "feed". 
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Ou pour transférer ou partager rapidement des photos.
        </p>    

        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">Comment ça marche?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Après avoir créé un brouillon vous pouvez ajouter des images, changer leur disposition et en supprimer. 
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Il ne vous reste ensuite plus qu'à rejoindre le brouillon avec un autre appareil pour comparer les photos, ou les partager à des amis. 
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Pour cela il vous faut scanner code QR avec l'appareil désiré via l'appareil photo ou toute autre appli de scanQR. Vous pouvez également envoyer le code ou le lien.
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Deux modes sont disponible dans un brouillon, le carousel et la grille (par défaut). Vous pouvez changer librement et mettre la gallerie en plein écran. 
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Sur téléphone n'hésitez pas à passer en mode paysage !
        </p>
    </section>
</main>
{{>footer}}