<div>
    <h1>Insta Preview</h1>
</div>
<form action="/create" method="POST">
    <input type="submit" value="Créer">
</form>

<form action="/join" method="POST">
    <input name="code" id="code" autocomplete="off">
    <input type="submit" value="Rejoindre">
</form>