<main class="pt-10 px-6 min-h-screen flex flex-col md:w-2/3 mx-auto">
    <section class="py-10">
        <h1 class="title text-6xl font-semibold py-2 leading-tight text-gray-900">La version <kbd>2.0</kbd> est là.</h1>
        <span class="subtitle text-xl leading-tight py-4 text-gray-900 flex flex-col items-start">
            <span>Une galerie améliorée </span>
            <span>avec une interface plus intuitive</span>
            <span>et un travail d'optimisation.</span>
        </span>
    </section>
    
    {{>sketchJoinCreate}}
       

    <section class="py-10">
        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">C'est quoi un "brouillon"?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Un brouillon est une galerie photo que vous pouvez créer gratuitement. 
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Vous y ajoutez vos photos, les organisez, choisissez le mode d'affichage et partagez ensuite la galerie.
        </p>

        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">Pour quoi faire?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Pour visualiser un ensemble de photo sur différents appareils, comparer instantanément les rendus sur des écrans différents.
        </p>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Pour afficher un carousel que l'on postera sur Instagram, ou visualiser son futur "feed". 
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Ou pour transférer ou partager rapidement des photos.
        </p>    

        <h5 class="title text-4xl font-semibold pt-6 leading-tight text-gray-900">Comment ça marche?</h5>
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Après avoir créé un brouillon vous pouvez ajouter des images, changer leur disposition et en supprimer. 
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Il ne vous reste ensuite plus qu'à rejoindre le brouillon avec un autre appareil pour comparer les photos, ou partager à des amis les photos.
        </p>    
        <p class="text-xl leading-tight py-2 text-gray-900 flex flex-col items-start">
            Deux modes sont disponible dans un brouillon, le carousel et la grille (par défaut). Vous pouvez changer librement et réarranger les photos.
        </p>
    </section>
</main>
{{>footer}}