<main>
    <div class="cGcGK hero">
    
        <h1 class="title">Insta Preview v1.2</h1>

        <div class="presentation">
            <form action="/create" method="POST">
                <input class="actionButton" type="submit" value="Commencer">
            </form>

            <span class="separator">ou</span>

            <form action="/join" method="POST">
                <input style="width: 6ch;" type="text" name="code" id="code" autocomplete="off" placeholder="Code" maxlength="5">
                <input class="actionButton" type="submit" value="Rejoindre">
            </form>
        </div>

        <p class="desc">
            Visualisez vos photos en temps réel depuis n'importe quel appareil avant de les poster sur instagram.
        </p>

        <p class="desc">
            En cliquant sur "commencer" vous créerez un sketch qui possède un code d'invitation que vous pouvez garder indéfiniment.
        </p>
        <p class="desc">
            Pour rejoindre le sketch depuis un autre appareil, utilisez le code qui vous a été fourni.
        </p>

        


    </div>
</main>

<footer class="bottomWave">
    {{!-- <div class="container"> --}}
        <span>Créé par <a href="https://arthaudproust.fr">Arthaud Proust</a></span>
    {{!-- </div> --}}
</footer>
