<script>
    const newImageEl = `{{>sketchImage}}`
</script>
<main class="overflow-hidden min-h-screen flex">

    {{>menu }}            

    {{>popupShare}}
    {{>popupDownload}}
    {{>popupEdit}}
    {{>popupImageActions}}


    <div id="gallery" class="gallery-{{sketch.mode}}" data-active="{{sketch.active}}" data-mode="{{sketch.mode}}" data-carousel-i="0" data-grid-i="0" data-sketch-code="{{sketch.code}}">
        <div id="gallery-inner">
            {{#each sketch.orderedImgs}}
                {{>sketchImage img=this }}
            {{/each}}
            {{!-- <div> --}}
                {{!-- <div class="image-action image-add icon-add"></div> --}}
            {{!-- </div> --}}
        </div>
    </div>
    <div id="carousel-controls" class="controls">
        <div id="carouselLeft" class="carousel-arrow"></div>
        <div id="carouselRight" class="carousel-arrow"></div>
    </div>


    {{>sketchCursor}}
</main>