<div class="cGcGK">
    <div style="flex-direction: column;">
        <div class="outlinedBox">
            {{>actionLink link=sketch.links.show text="Retour au sketch"}}
        </div>
        <div class="outlinedBox">
            {{>closeSketch}}
        </div>

        <div class="outlinedBox">
        
            <article class="PVkFi">
                <div class="C_9MP">
                    <aside class="sxIVS  ">
                        <label for="pepUsername">Nom d’utilisateur</label>
                    </aside>
                    <div class="ada5V">
                        <div class="AC7dP Igw0E IwRSH eGOV_ _4EzTm" style="width: 100%; max-width: 355px;">
                            <input aria-required="true" id="username" placeholder="Nom d’utilisateur" type="text" class="JLJ-B zyHYP" value="{{sketch.username}}">
                            <div class="Igw0E IwRSH eGOV_ _4EzTm bkEs3 aGBdT" style="width: 100%; max-width: 355px;">
                                <div class="_7UhW9 PIoXz MMzan _0PwGv uL8Hv"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eE-OA">
                    <aside class="sxIVS  tvweK">
                        <label></label>
                    </aside>
                    <div class="ada5V">
                        <div class="fi8zo">
                            <button class="sqdOP L3NKy y3zKF" id="editionSubmit" type="button">Modifier</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
