.sketchView {
    padding-top: 30px;
}


.l360 {
    width: 360px;
}
.cGcGK {
    margin-right: 0;
}

.userAll {
    user-select: all;
}


*:focus {
    outline: 0 !important;
}

@media (max-width:735px) {
    .btnChangeView {
        display: none !important;
    }
}
.outlinedBox {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 11px 12px;
    display: flex;
    flex-flow: row wrap;
}

.boxTitle {
    color: rgba(38,38,38,1) !important;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 9px;
    margin: 5px 4px;
    width: 100%;
}

input[id^="imgField"] {
    display: none;
}
.boxText, .actionLink, label[for^="imgField"] {
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(219,219,219,1);
    color: rgba(38,38,38,1) !important;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 9px;
    margin: 5px 4px;
}
.boxText {
    cursor: default;
}

label[for^="imgField"] .progress {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #a9d2fc;
    content: ' ';
    top: 0;
    left:0;
    border-radius: 4px;
    z-index: -1;
}

label[for^="imgField"].progressing {
    padding: 6px 10px;
    border: none;
    /* background: #78e769; */
}



.carrousel {
    position: relative !important;
    height: auto;
}

.carrousel-imgs {
    position: relative !important;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
}

.carrousel-imgs .photo-container {
    position: absolute;
}

.KL4Bh {
    padding-bottom: 0;
}